<form method="POST" action="/posts/<%= @post.id %>">
  <input type="text" name="name" id="name" placeholder="Name"><%="#{@post.name}" %>
  <input type="text" name="content" id="content" placeholder="Content"><%="#{@post.content}" %>
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="submit" id="submit" value="Submit">
</form>
