<h3><%= @post.name %></h3>
<h3><%= @post.content %></h3>

<form action="/posts/<%= @post.id %>/delete" method="POST">
  <input type="hidden" name="_method" value="delete" id="hidden">
  <button type="submit" name="delete" value="delete"></button>
</form>
